body {
  background-color: rgb(8, 95, 124);
  }
  
  h1 {
  color: white;
  text-align: center;
  }

  h2 {
    color:blue;
  }

  h3 {
    color:rgb(2, 255, 2);
  }

  p {
  font-family: arial;
  font-size: 20px;
  }
