body {
  background: #58910d;
  font-family: Helvetica, sans-serif;
  border-top: 15px solid #424242;
  margin: 0 auto;
  color:#424242;
}

main {
  margin: 0 auto;
  width: 800px;
}

.details {
  display: flex;
  gap: 25px;
}

.details section {
  flex-grow: 1;
  flex-basis: 0;
  background: #960303;
  padding: 20px;
}


img {
  width: 100%;
}
